body {
    background-color: #fc6203;
    background-repeat: no-repeat;

  }

  h1{
    font-family: helvetica, sans-serif;
    font-size: 100%vw;
    text-align: center;
    color: Blue;
    
  }

  h2{
    font-family: helvetica, sans-serif;
    font-size: 80%vw;
    text-align: center;
    color: black;
  }

  button{
    padding-top: 10%;
    align-items: center;
  }

  

  .container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #fc6203;
}



.cointainer-fluid{
  background-color: #fc6203;
}

